:root{
    --bg: #a8ffe5;
    --hero: #dcfdf3;
    --hover: #75c1ff;
    --main: #008cff;
    --border: #e5e7eb;
}

body{
    background-color: var(--bg);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 48px;
    font-family: "Montserrat", sans-serif;
}
.hero-section{
    background-color: var(--hero);
    width: 80%;
    max-width: 1000px;
    box-shadow:0 20px 20px rgba(0, 0, 0, 0.08);
    border-radius: 24px;
    padding: 48px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-title{
    font-size: 48px;
    text-align: center;
}

.hero-description{
    display: flex;
    flex-direction: column;
    font-size: large;
    text-align: left;

}

.command{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
}

a{
    text-decoration: none;
    color: inherit;
    padding: 10px 20px;
    text-align: center;
    border-radius: 8px;
    background-color: var(--main);
    font-size: 16px;
}

a:hover{
    background-color: var(--hover);
}

.controlsRow{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    gap: 12px;
    margin-top: 24px;
}

.input{
    display: flex;
    flex-direction: column;
    min-width: 170px;
}

input{

    padding:8px 10px; 
    border-radius:8px; 
    border:1px solid var(--border); 
}

select{
    padding:8px 10px; 
    border-radius:8px; 
    border:1px solid var(--border); 
    min-width: 200px; 
    background-color: white;
}

#calcBtn {
    min-width: 190px;
    background-color: var(--main);
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    align-self: center;
}

#calcBtn:hover {
    background-color: var(--hover);
}

.result{
    margin-top: 24px;
    text-align:left
}